<div class="container">
    <div class="card shadow mb-4">


        <div class="card-body">


            <div class="alert alert-danger" *ngIf="err == 1">
                <strong>Une erreur technique s'est produite, veuillez retenter plus tard...</strong>
            </div>


            <div>
                <h2>{{currentModele.marqueDTO.nom}} - {{currentModele.reference}}</h2>
            </div>
            <div *ngIf="listeVide" class="alert alert-info">
                {{message}}
            </div>

            <div *ngIf="messageCreateUpdate!=''" class="alert alert-info">
                {{messageCreateUpdate}}
            </div>



            <table *ngIf="!listeVide" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Réparations</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tr>
                    <th>Type</th>
                    <th>Prix</th>
                    <th></th>


                </tr>

                <tbody *ngFor="let association of associations">
                    <tr *ngIf="association.praticable==1">
                        <!-- <td>{{modele.id}}</td>-->
                        <td>{{association.nomReparation}}</td>
                        <td>{{association.prix}} €</td>

                        <td><a *ngIf="authService.isEmploye()" class="btn btn-sm btn-success"
                                [routerLink]="['/update-association',association.id!]">Modifier</a></td>




                        <!--<td><a class="btn btn-danger" (click)="supprimerModele(modele)">Supprimer</a></td>-->
                    </tr>
                </tbody>
            </table>

          





            <table *ngIf="!listeVide && authService.isEmploye()" class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Réparations plus pratiquées</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tr>
                    <th>Type</th>
                    <th>Prix</th>
                    <th></th>


                </tr>

                <tbody *ngFor="let association of associations">
                    <tr *ngIf="association.praticable==0">
                        <!-- <td>{{modele.id}}</td>-->
                        <td>{{association.nomReparation}}</td>
                        <td>{{association.prix}}</td>

                        <td><a *ngIf="authService.isEmploye()" class="btn btn-success"
                                [routerLink]="['/update-association',association.id!]">Modifier</a></td>




                        <!--<td><a class="btn btn-danger" (click)="supprimerModele(modele)">Supprimer</a></td>-->
                    </tr>
                </tbody>
            </table>

            <div *ngIf="authService.isEmploye()"
                style="height: 40px; background-color: #F94959 ;text-align: center; font-weight: bold;">
                Ajouter des réparations au modèle
            </div>
            <div *ngIf="listeReparationsVide  && authService.isEmploye()" class="alert alert-info">
                {{messageReparation}}
            </div>

            <table *ngIf="!listeReparationsVide && authService.isEmploye()" class="table table-responsive table-dark">


                <tbody *ngFor="let reparation of reparationsNonPratiquees">
                    <tr>
                        <!-- <td>{{modele.id}}</td>-->
                        <td>{{reparation.nom}}</td>

                        <div class="mt-2">
                            <button type="submit"
                                (click)="ajouterReparation(currentModele.id!,reparation.id,reparation.nom!,currentModele.reference!, currentModele.marqueDTO.nom)"
                                class="btn btn-danger">Ajouter Réparation</button>

                        </div>


                    </tr>
                </tbody>
            </table>

            <div>
                <a style="margin-top: 15px" class="btn btn-link"
                    [routerLink]="['/updateModele',currentModele.id]">Retour à la fiche du modèle</a>
            </div>
            <div>
                <a style="margin-top: 15px" class="btn btn-link" [routerLink]="['/modeles']">Retour à la liste des
                    modèles</a>
            </div>
        </div>
    </div>
</div>