

<!--<div id="conteneurHaut" style="background-color: black;  text-align: center;">
<div id="conteneurRuban1" style="display: flex;  justify-content: left;  background-color: black;"> -->

    <div style="background-color: black;">

    <div class="row" id="conteneurRuban1_1"  style=" text-align: center; ">
        <div class="col-sm-6"><img class="img-responsive" role="presentation"
                src="https://phonetastikbucket.s3.eu-west-3.amazonaws.com/ruban.PNG" width="500" height="90"  style=" text-align: center; " /></div>
        <div class="col-sm-6"> <a href="tel:+33767226264"><img class="img-responsive" role="presentation"
                    src="https://phonetastikbucket.s3.eu-west-3.amazonaws.com/numeroTel.PNG" width="500" height="90" style=" text-align: right; " /></a></div>
    </div>
    
    </div>

<!--</div>
</div>-->




<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>

    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src='https://phonetastikbucket.s3.eu-west-3.amazonaws.com/accessoires.jpg' alt="accessoires"
                style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src='https://phonetastikbucket.s3.eu-west-3.amazonaws.com/reparationBis.png' alt="reparations"
                style="width:100%;">
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


<div>
    <div class="descriptionMagasin" style=" font-family: Arial; font-size: 1.5em; text-align: center;  margin : 40px;">

        <p>Spécialiste de la réparation de téléphones, tablettes, consoles de jeux vidéos,
            ordinateurs portables</p>
        <p>Vente de téléphones neufs et occasions</p>
        <p>Reprise de vos téléphones</p>
        <p>Vente d'accessoires</p>
        <p>Recyclage de télèphones , appareils et pièces électroniques en fin de vie
        <p>


    </div>
</div>


<fieldset style="border: solid 1px rgb(255, 0, 0) !important;    padding: 0 10px 10px 10px; border-bottom: none; "
    class="scheduler-border container" id="boxAvis">
    <legend style="text-align:center; color:red; font-size: 20px;  width: auto !important; border: none;"
        class="scheduler-border"><a href="https://g.page/r/CZxCL9DNHIyoEB0/review">Donnez votre avis sur Google
        </a>
    </legend>


    <div id="demo2" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo2" data-slide-to="0" class="active"></li>
            <li data-target="#demo2" data-slide-to="1"></li>
            <li data-target="#demo2" data-slide-to="2"></li>
            <li data-target="#demo2" data-slide-to="3"></li>

        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="conteneurAvis" style="width: 400px; height: 200px; padding: 15px; text-align: center; background-color: rgb(255, 240, 240); box-shadow: 10px 10px 5px lightblue;
                 margin: 0 auto;  margin-bottom: 10px;">
                    <h2>Boma Dickies</h2>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="declaration">Mon écran était cassé sur mon iphone, ils me l'ont reparé rapidement et me
                        l'ont
                        rendu comme neuf. Excellent
                        travail , je recommande cette boutique
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="conteneurAvis" style="width: 400px; height: 200px; padding: 15px; text-align: center; background-color: rgb(255, 240, 240); box-shadow: 10px 10px 5px lightblue;
                margin: 0 auto;  margin-bottom: 10px;">
                    <h2>Camille Piekfrru</h2>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="declaration">Bonjour je recommande à 100% cette boutique
                        Excellent accueil, excellent travail effectué sur mon oppo, je suis très satisfaite.
                        Continué comme ça merci encore vous avez fait une heureuse a très bientôt.
                    </p>

                </div>
            </div>

            <div class="carousel-item">
                <div class="conteneurAvis" style="width: 400px; height: 200px; padding: 15px; text-align: center; background-color: rgb(255, 240, 240); box-shadow: 10px 10px 5px lightblue;
                margin: 0 auto;  margin-bottom: 10px;">
                    <h2>Christian Garde</h2>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="declaration">Venu pour réparer mon iPhone 11, ayant fait plusieurs devis. J’ai trouvé chez
                        Phonetastik
                        le moins chèr et le plus rapide. Réparation sur place en moins d’une heure, très professionnel
                        et
                        consciencieux.
                        Je recommande à 1000%
                    </p>

                </div>
            </div>

            <div class="carousel-item" style="width: 400px; height: 200px; padding: 15px; text-align: center; background-color: rgb(255, 240, 240); box-shadow: 10px 10px 5px lightblue;
            margin: 0 auto;  margin-bottom: 10px;">
                <div class="conteneurAvis">
                    <h2>Vincent</h2>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="declaration">J'ai fait appel à leur services (micro-soudures sur la carte mère) pour la
                        réparation de
                        mon iphone qui ne s'allumé plus et ne chargé plus. Très professionnel, à l'écoute et réactif. Je
                        recommande
                        vivement ce réparateur.
                    </p>

                </div>
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo2" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo2" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</fieldset>

    <div id="containerMap" style="  display: flex; justify-content: center; align-items: center; margin-top : 20px ;">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10098.115047984049!2d2.2572631!3d50.74722850000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dcf911c4ab1cc9%3A0xa88c1ccdd02f429c!2sPhonetastiK!5e0!3m2!1sfr!2sfr!4v1668540559326!5m2!1sfr!2sfr"
			width="1880" height="450" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>


    <div class="footerCss" style=" background-color:black; color :white;text-align : center;">
		<div class="row" id="rowFooter">
			<div class="col-sm-4"></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4"></div>
		</div>
	</div>
	
	<div class="footerCss" style=" background-color:black; color :white;text-align : center;">

<!-- anciennement la row ci dessous avait id rowFooter-->

		<div class="row">

			<div class="col-sm-4" id="containerLogo">

		
				<img role="presentation" src="https://phonetastikbucket.s3.eu-west-3.amazonaws.com/logoFinal.PNG" width="120" height="120" />
			</div>




			<div class="col-sm-4">
				<a href="#">
					<h3>Phonetastik</h3>
				</a>
				<p>Adresse : 8 Rue d'Arras, 62500 Saint-Omer</p>
				<p>
					<a href="tel:+33767226264">
						<i class="glyphicon glyphicon-earphone" style="font-size:24px"></i>
						07 67 22 62 64
					</a>
				</p>
			</div>

			<div class="col-sm-4">

				<div>
					
		<button type="button" class="btn-lg btn-link" data-toggle="modal" data-target="#myModal" style="background-color: black;">Mentions légales</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" style="color:red; font-weight: bolder; font-size:2.5em;">Mentions légales</h4>
					</div>
					<div class="modal-body" style="color:black; font-size:1em;">
						<p style="color:black; font-size:1.5em;"> En vertu de l'article 6 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans
							l'économie numérique, il est précisé aux utilisateurs du site Internet
							https://www.phonetastik-saintomer.fr l'identité des différents intervenants dans le cadre de
							sa réalisation et de son suivi :</p>
							
							<ul>
							<li>PHONETASTIK</li>
							<li>FJ : Affaire personnelle commerçant</li>
							<li>Capital social de : [CAPITAL]</li>
							<li>TVA : [TVA]</li>
							<li>SIREN : ? </li>
							<li> 8 rue d'Arras , 62500 Saint-Omer</li>
							
							</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					</div>
				</div>

			</div>
		</div>

				</div>

				<div>
					<p>Mardi au Vendredi 10:00-12:00 , 14:00-19:00</p>
					<p>Samedi 10:00-12:00 , 14:00-19:00</p>
				</div>

			</div>

		</div>
	</div>



