<div class="alert alert-success">
    <strong *ngIf="authService.isAdmin()"> L'employé à bien été crée</strong>
    <strong *ngIf="authService.isEmploye()"> Le client à bien été crée</strong>
</div>

<div>
    <a *ngIf="authService.isAdmin()" style="margin-top: 50px"   class="btn btn-link" [routerLink]="['/employes']">Retour à la liste des employes</a>
    <a *ngIf="authService.isEmploye()" style="margin-top: 50px"   class="btn btn-link" [routerLink]="['/usagers']">Retour à la liste des clients</a>
</div>
