<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="alert alert-danger" *ngIf="erreur==1">
                <strong>login ou mot de passe erronés..</strong>
            </div>

            
            <form>
                <div class="form-group">
                    <label>Nom Utilisateur :</label>
                    <input [readonly]="authService.isloggedIn"type="text" name="username" class="form-control" [(ngModel)]="userLoginDTO.username">
                </div>
                <div class="form-group">
                    <label>Mot de passe :</label>
                    <input  [readonly]="authService.isloggedIn" type="password" name="password" [(ngModel)]="userLoginDTO.password" class="form-control">
                </div>
                <div *ngIf="!authService.isloggedIn" class="row justify-content-md-center">
                    <button type="button" (click)="onLoggedin()" class="btn btn-success">Connexion</button>
                </div>
            </form>
            <div class="alert alert-info"*ngIf="authService.isloggedIn">
                <strong>Vous êtes déja connecté</strong>
            </div>
        </div>
    </div>
</div>